<div id="appName">
    This is Egypt!
</div>
<div>
    <div id="aim">
        Aim:
    </div>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus totam quaerat, beatae nisi placeat illum nobis modi reprehenderit autem iusto possimus facilis, ullam nemo quidem fugiat aut hic impedit iure!
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus totam quaerat, beatae nisi placeat illum nobis modi reprehenderit autem iusto possimus facilis, ullam nemo quidem fugiat aut hic impedit iure!
</div>
<br/>
<img [src]="pyramidUrl">
