<div>
  <nav class="navbar navbar-expand-sm" style="background-color: #FD8D14;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-center">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          <a class="nav-link" routerLink="/cities">Cities</a>
          <a class="nav-link" routerLink="/weather">Weather</a>
          <a class="nav-link" routerLink="/ideas">Ideas</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div>
  <footer>Poorly made by {{myName}}</footer>
</div>
<div class="body"><router-outlet></router-outlet></div>

<router-outlet></router-outlet>
